<% @title="GuruTapas: Appetizers of Knowledge - Our Authors " %>

<%= render 'form' %>

<div id="authorlist" style="position:absolute; overflow:hidden; left:100px; top:280px; z-index:3">

<%= button_to "Sign up as an author", :action => "new" %><p>

<span class="Body-C6">GuruTapas Featured Authors</span>
<table>
  <tr>
    <th>Name</th><th>...</th>
    <th>Book Title</th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td color="#443c55" align="left"><%= link_to author.name, author %></td> <td>...</td>
    <td><%= author.authorbook %></td>
  </tr>
<% end %>
</table>
</div>
